:root>* {

    --md-footer-bg-color: white;
    --md-footer-fg-color: rgb(32, 32, 32);
    --md-footer-bg-color--dark: white;
    --md-footer-fg-color--lighter:  rgb(32, 32, 32);
    --md-footer-fg-color--light:  rgb(32, 32, 32);
    --mdc-typography-headline6-font-family: 'Be Vietnam', sans-serif;
    --mdc-typography-font-family: 'Be Vietnam', sans-serif;
    --md-typeset-a-color: rgb(12, 240, 190);

}


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(32, 32, 32);
}

.md-typeset h2 {
    font-weight: 500;
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}

body {
  font-family: 'BBH Sans Bogle', sans-serif;
}

/* ====== Custom Header (black and spaced out) ====== */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 25px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

header nav {
  display: flex;
  gap: 80px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 8px; /* space between letters */
  font-weight: 600;
  transition: opacity 0.3s;
}

header nav a:hover {
  opacity: 0.6;
}

/* ====== Background image section ====== */

.hero {
  height: 100vh;
  width: 100%;
  background-image: url('../images/home.jpg'); /* make sure your image name/path matches */
  background-size: cover;
  background-position:

